{% from "_Card.html.twig" import Card -%}
{% from "_Header.html.twig" import Header -%}

<!doctype html>
<html class="antialiased scroll-smooth" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Grunnhogasterdagr Partire</title>

  <script src="https://impressive-floyd.groundhogday.party/script.js" data-site="FRJLSLJS" defer></script>

  <link rel="preload" href="/Modak-Regular-subset.woff2" as="font" type="font/woff2" crossorigin=""/>
  <link rel="preload" href="/UnifrakturCook-Bold-subset.woff2" as="font" type="font/woff2" crossorigin=""/>

  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

  <meta name="author" content="Henry Bley-Vroman" />
  <meta name="description" content="The holiday you define">

  <meta property="og:title" content="groundhogday.party">
  <meta property="og:description" content="The holiday you define">
  <meta property="og:url" content="https://groundhogday.party/">
  <meta property="og:site_name" content="groundhogday.party">
  <meta property="og:type" content="website">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:image" content="https://groundhogday.party/groundhogdayparty-fb.jpg">

  <meta name="twitter:title" content="groundhogday.party">
  <meta name="twitter:creator" content="@olets">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="groundhogday.party">
  <meta name="twitter:image" content="https://groundhogday.party/groundhogdayparty-tw.jpg">

  <link rel="canonical" href="https://www.groundhogday.party/" />

  <link href="mailto:olets@olets.dev" rel="me" />
  <link href="https://twitter.com/olets" rel="me" />
  <link href="https://github.com/olets" rel="me" />

  <link rel="stylesheet" href="/styles.css">
</head>

<body class="bg-groundhog bg-center overflow-x-hidden">
  <header class="flex items-center justify-center min-h-screen relative">
    <h1 class="sr-only">Groundhog Day Party</h1>
    
    <div class="groundhog motion-safe:animate-spin">
      <div class="groundhog motion-safe:animate-spin-double animation-direction-reverse ">
        <div class="groundhog motion-safe:animate-spin-double ">
          <div class="groundhog motion-safe:animate-spin-triple animation-direction-reverse ">
          </div>
        </div>
      </div>
    </div>

    <div class="h-40 relative w-40 motion-safe:animate-confused-spin">
      <a class="absolute group hidden inset-0 md:block peer" href="#groundhogday.party">
        <span class="sr-only">Scroll to content</span>
      </a>

      <div class="flex items-center justify-center pointer-events-none bg-black flex h-full peer-focus:opacity-100 peer-hover:opacity-100 md:opacity-70 rounded-full text-white transition-opacity w-full">
        <span class="motion-safe:animate-ping text-5xl">&#9759;</span>
      </div>
    </div>
  </header>

  <main
    class="relative spacing flex flex-col font-sans lg:space-y-20 max-w-4xl md:p-10 md:pt-24 md:space-y-16 mx-auto p-5 pt-10"
    id="groundhogday.party"
  >
    <section>
      {{ Header({
        copy: "Benediction",
      }) }}

      <div class="lg:text-5xl md:text-4xl sm:text-3xl text-xl">
        {% include '_poem.html.twig' %}
      </div>
    </section>

    <section>
      {{ Header({
        copy: "Arcana",
      }) }}

      {% set watcherCopy %}
        The watcher stands in the thick of the crowd
        <br>
        dares speak to none but the <a href="#buyer"><em>buyer</em></a>
        <br>
        Waiting for the <a href="#weatherman"><em>weatherman</em></a>
        <br>
        to say the groundhog is a liar
      {% endset %}

      {% set insurerCopy %}
        The insurer lives in the <a href="#buyer"><em>buyer</em></a>'s thrall
        <br>
        knows looping time ensnares them
        <br>
        Claims connection to the <a href="#weatherman"><em>weatherman</em></a>
        <br>
        &amp; hopes trickery will buy freedom
      {% endset %}

      {% set weathermanCopy %}
        The weatherman, cruel to groundhog, <a href="#watcher"><em>watcher</em></a>, <a href="#insurer"><em>insurer</em></a>
        <br>
        to all he does not desire
        <br>
        Convinced his lot's unfair but deserves
        <br>
        the eternal torment of the <a href="#buyer"><em>buyer</em></a>
      {% endset %}

      {% set buyerCopy %}
        The buyer traps a blameless town, <a href="#insurer"><em>insurer</em></a> forced
        <br>
        To find her new toys, <a href="#watcher"><em>watcher</em></a> forced
        <br>
        To never understand, <a href="#weatherman"><em>weatherman</em></a> falling
        <br>
        Right into her hands
      {% endset %}

      <div class="spacing">
        {# {% include '_ice.html.twig' %} #}

        {{ Card({
          copy: buyerCopy,
          heading: "Buyer",
          id: "buyer",
          imageFilename: "death-and-the-dancer--crop.jpg",
        })}}

        {{ Card({
          copy: insurerCopy,
          heading: "Insurer",
          id: "insurer",
          imageFilename: "insurance-umbrella.jpg",
        })}}

        {{ Card({
          copy: watcherCopy,
          heading: "Watcher",
          id: "watcher",
          imageFilename: "camera-operator.jpg",
        })}}

        {{ Card({
          copy: weathermanCopy,
          heading: "Weatherman",
          id: "weatherman",
          imageFilename: "bendix-weatherman.jpg",
        })}}

        {# {% include '_broccoltoe.html.twig' %} #}
      </div>
    </section>
  </main>

  <footer class="bg-white/70 lg:p-20 md:p-15 mt-60 p-10 text-lg">
    &copy; 2022-present Henry Bley-Vroman

    <p>
      <a href="https://www.lookandlearn.com/history-images/YW042204VEL/Death-points-an-arrow-at-a-female-dancer">Death points an arrow at a female dancer</a>, cropped,<a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> license.

      <br>
      
      <a href="https://www.flickr.com/photos/x-ray_delta_one/5206149142">1957 ... weather central!</a>, cropped, <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY-NC-SA 2.0</a> license.
    </p>

    <div class="flex gap-2 items-center">
      Source: <a class="font-mono text-sm" href="https://github.com/olets/groundhogday.party">github.com/olets/groundhogday.party</a>
    </div>
  </footer>
</body>